# Node modules
node_modules/

# Environment files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build output
dist/
build/
out/
coverage/

# Others
*.local
*.sublime-workspace
*.sublime-project
